.table {
  border-collapse: collapse;
  width: 100%;
}
.table th,
.table td {
  padding: 0.5rem;
}
.table th {
  background-color: #CCC;
}
.table tr:nth-child(2n) td {
  background-color: #dedede;
}
.table tr:hover td {
  background-color: yellow;
  color: fff;
}